//
//  SafeguardTools.Debug.xcconfig
//  SafeguardTools
//
//  Created by T431962 on 3/25/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//:configuration = debug
//Assets
ARCHS = $(ARCHS_STANDARD_64_BIT)
SDKROOT = macosx

//Build Locations
SYMROOT = $(SRCROOT)/output/mac/$(AI_CONFIGURATION)
OBJROOT = .
SHARED_PRECOMPS_DIR = $(SRCROOT)/output/mac/sharedprecompiledheaders/$(AI_CONFIGURATION)

//Build Options
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
DEBUG_INFORMATION_FORMAT = dwarf
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO
SCAN_ALL_SOURCE_FILES_FOR_INCLUDES = YES

//Deployment
DSTROOT = /tmp/$(PROJECT_NAME).dst
SKIP_INSTALL = NO
COPY_PHASE_STRIP = YES
STRIP_INSTALLED_PRODUCT = YES
STRIP_STYLE = non-global
MACOSX_DEPLOYMENT_TARGET = 10.12

//Linking
DEAD_CODE_STRIPPING = YES
PRESERVE_DEAD_CODE_INITS_AND_TERMS = NO

//Packaging
GENERATE_PKGINFO_FILE = YES
INFOPLIST_FILE = $(PATH_TO_SDK_SAMPLECODE_FOLDER)/common/mac/Info.plist
INFOPLIST_PREFIX_HEADER = $(PATH_TO_SDK_SAMPLECODE_FOLDER)/common/includes/SDKDef.h
INFOPLIST_PREPROCESS = YES
PRODUCT_BUNDLE_IDENTIFIER = kSDKDefAIBundlePrefix.plugins.$(PROJECTNAME)
PRODUCT_NAME = SafeguardTools
WRAPPER_EXTENSION = aip

//Search paths
ALWAYS_SEARCH_USER_PATHS = NO
//FRAMEWORK_SEARCH_PATHS = $(FRAMEWORK_SEARCH_PATHS_QUOTED_1)
HEADER_SEARCH_PATHS =  "$(PATH_TO_SDK_ILLUSTRATORAPI_FOLDER)/**" "/Developer/Headers/FlatCarbon/**" "$(SRCROOT)/**" "$(PATH_TO_SDK_SAMPLECODE_FOLDER)/common/**" $(SRCROOT)/../cereal/include $(SRCROOT)/../boost $(SRCROOT)/../rapidjson/include 
LIBRARY_SEARCH_PATHS = $(SRCROOT)/../boost/stage/lib
REZ_SEARCH_PATHS = "$(SRCROOT)/Source" "$(PATH_TO_SDK_SAMPLECODE_FOLDER)/common/mac" "$(PATH_TO_SDK_SAMPLECODE_FOLDER)/common/includes"


//Apple Clang code generation
GCC_NO_COMMON_BLOCKS = YES
GCC_OPTIMIZATION_LEVEL = 0
GCC_SYMBOLS_PRIVATE_EXTERN = YES

//Apple Clang language
GCC_INPUT_FILETYPE = sourcecode.cpp.cpp
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = YES
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = $(PATH_TO_SDK_SAMPLECODE_FOLDER)/common/includes/IllustratorSDK$(AI_CONFIGURATION).pch

//Apple Clang language - C++
CLANG_CXX_LANGUAGE_STANDARD = c++14

//Apple Clang language - Objective C
CLANG_ENABLE_OBJC_WEAK = YES

//Apple Clang language - Preprocessing
ENABLE_STRICT_OBJC_MSGSEND = YES


//Apple Clang Warings - all languages
GCC_WARN_ABOUT_MISSING_PROTOTYPES = NO
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_WARN_UNUSED_VARIABLE = YES
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES
CLANG_WARN_INFINITE_RECURSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_COMMA = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES
CLANG_WARN_UNREACHABLE_CODE = YES
GCC_WARN_UNUSED_FUNCTION = YES

//Apple Clang warnings - C++
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES

//Apple Clang warnings - Objective C
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
GCC_WARN_UNDECLARED_SELECTOR = YES

//Apple Clang warnings - Objective C and ARC
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES

//Static Analyzer Issues - Apple APIs
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES



//User defined
AI_CONFIGURATION = debug
AI_LOCALE = en_US
AI_PLATFORM = xcode
CONFIGURATION_BUILD_DIR = $(PATH_TO_SDK_SAMPLECODE_FOLDER)/output/mac/$(AI_CONFIGURATION)
CONFIGURATION_TEMP_DIR = $(PROJECT_TEMP_DIR)/Default
GCC_DEBUGGING_SYMBOLS = used
ONLY_LINK_ESSENTIAL_SYMBOLS = YES
PATH_TO_SDK_ILLUSTRATORAPI_FOLDER = /Users/t431962/Desktop/Adobe Illustrator SDK/illustratorapi
PATH_TO_SDK_SAMPLECODE_FOLDER = /Users/t431962/Desktop/Adobe Illustrator SDK/samplecode
PREBINDING = NO
PROJECTNAME = SafeguardTools
SEPARATE_STRIP = NO
VALID_ARCHS = i386 x86_64
ZERO_LINK = NO
