form {
    width: 500px;
    height: 720px;
    position: relative;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    margin: 5px;
}

label {
    line-height: 200%;
    width: 10%
}

select {
    display: inline;
    font-size: 14px;
    width: 100%;
    margin: 2px;
}

.field {
    display: inline-block;
    width: 45%;
    padding: 2%;
}

.wide-field {
    display: inline-block;
    width: 98%;
}

.buttons {
    position:absolute;
    bottom:0;
    right:0;
}

input[type=button] {
    display: inline-block;
    font-size: 18px;
}

.info-area {
    border: 1px solid black;
    font-size: 14px;
    width: 100%;
    resize: none;
    overflow: auto;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

.tinycheckbox
{
    transform: scale(.5);
    padding: 10px;
}

.tinycheckboxtext
{
    font-size: 50%;
    display: inline;
    line-height: 10px;
}
