#results-textarea {
    height: 15em;
}

#colorlist-textarea {
    height: 25em;
}

.feedback-box {
    display: inline-block;
    width: 100%;
    border: 1px dashed darkgreen;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-sizing: border-box;
}

.artboard-colors {
    background: #f3ffe6;
}

.artboard-deselected {
    background: #ffe5e5 !important;
}

.colorName {
    display: block;
}

.artboard-id {
    position: absolute;
    right: 0;
    margin-right: 5px;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    color: lightgray;
}

.deleted {
    color: red;
}

.created {
    color: green;
}

.cmyk {
    color: red;
}
