form {
    width: 210px;
    height: 170px;
    position: relative;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    margin: 5px;
}

span {
    padding: 2%;
}

label {
    line-height: 20px;
    width: 10%
}

select {
    display: inline;
    font-size: 10px;
    width: 100%;
    margin: 1px;
}

select.wide {
    float: right;
    display: inline;
    width: 75%;
    margin: 1px;
}

.field {
    display: inline-block;
    width: 47%;
    padding: 1%;
}

.wide-field {
    display: inline-block;
    width: 98%;
}

.buttons {
    position:absolute;
    bottom:0;
    right:0;
}

input[type=button] {
    display: block;
    font-size: 10px;
    width: 100%;
}

.changed {
    font-size: 10px;
    display: block;
}
