#results-textarea {
    height: 49em;
    margin-top: 2px;
}

.path {
    display: inline-block;
    width: 97%;
    border: 1px dashed darkgreen;
    padding: 1%;
    margin: 1px;
    position: relative;
    background: #f3ffe6;
}

.deselected {
    background: #ffe5e5 !important;
}
