form {
    width: 500px;
    height: 720px;
    position: relative;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    margin: 5px;
}

label {
    line-height: 200%;
    width: 10%
}

select {
    display: inline;
    font-size: 14px;
    width: 100%;
    margin: 2px;
}

.preset {
    display: inline-block;
    width: 45%;
    padding: 2%;
    vertical-align: top;
}

.field {
    display: inline-block;
    width: 45%;
    padding: 2%;
}

.wide-field {
    display: inline-block;
    width: 98%;
}

.buttons {
    position:absolute;
    bottom:0;
    right:0;
}

input[type=button] {
    display: inline-block;
    font-size: 18px;
}

.or {
  display: inline-block;
  font-style: oblique;
}


#results-textarea {
  border: 1px solid black;
	font-size: 14px;
    width: 100%;
    height: 40em;
    resize: none;
	overflow: auto;
}

.deleted {
	color: red;
}

.created {
	color: green;
}